[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vedro = ">=1.5,<2.0"
jj = ">=2.6,<3.0"
aiohttp = ">=3.5,<4.0"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
mypy = "*"
flake8 = "*"
isort = "*"
setuptools = "*"
wheel = "*"
pipfile = "*"
twine = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest -s tests/"
coverage = "pytest --cov --cov-report=term --cov-report=xml:coverage.xml"
lint = "sh -c 'pipenv run check-style && pipenv run check-imports && pipenv run check-types'"
check-types = "mypy vedro_jj --strict"
check-imports = "isort vedro_jj tests --check-only"
check-style = "flake8 vedro_jj tests"
sort-imports = "isort vedro_jj tests"
build = "python3 setup.py sdist bdist_wheel"
publish = "twine upload dist/*"
